asciidoc
pyyaml~=6.0
Mako~=1.2.4
jsonschema==4.17.3
ogc-na @ git+https://github.com/opengeospatial/ogc-na-tools@main#egg=ogc-na
requests~=2.31.0
pyparsing~=3.0.9
pyshacl~=0.21.0
rdflib~=6.3.2
jsonref~=1.1.0
networkx~=3.1
jq~=1.6
pathvalidate==3.2.0
